.design {
	background: pink;
}

.python {
	background-color: #333D79FF;
}

.form-style {
	border: 4px solid #FF3EA5FF;
	background-color: #EDFF00FF;
	color: #00A4CCFF;
	margin-top: 30px;
	padding: 10px;
	margin-left: 12px;
}

.edited-style {
	border: 4px solid #BA0020FF;
	background-color:#F6EA7BFF;
	color: #F65058FF;
	margin-top: 30px;
	padding: 10px;
	margin-left: 12px;
}

.active-state {
	background: #97B3D0FF!important;
}
